<div class="new_edit_form">
<%= form_for @note, :class=>"form-horizontal" do |f| %>
   <fieldset>
  <%= f.error_messages %>
 <div class="control-group">
   <label class="control-label" for="input01">Description : </label>
    <div class="controls">
    <%= f.text_area :description, :size => "50x4", :placeholder => "Decription"	 %>
    </div>
    </br>
     <div class="control-group">
     <label class="control-label" for="input01">Source Url : </label>
      <div class="controls">
    <%= f.text_field :source_url, :placeholder => "Source url" %>
    </div>
 </div>
  </br>
<div class="control-group">
     <label class="control-label" for="input01">Tags : </label>
      <div class="controls">
      <%= text_field_tag :tag_list,"", :value => @note.tags.join(",") %>
    </div>
 </div>
  </br>
<div class="control-group">
 <label class="control-label" for="input01"> </label>
<div class="controls"  style = "text-align:left">
  <%= f.submit :class=>"btn btn-primary"%></div>
  </div>
     </fieldset>
<% end %>
</div>

<style>
.new_edit_form{

background-color: whiteSmoke;
display: block;
-webkit-border-radius: 3px;
border: 1px solid rgba(0, 0, 0, 0.15);

}
div .control-label {
font-family: Monaco, Andale Mono, Courier New, monospace;
}
</style>
