<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">
   <%= @note.description.truncate(20) %>
  </li>
</ul>
<pre >
 <p> <strong>Desc : </strong><%= @note.description %></p>
 <p> <strong>Source Url:</strong> <%= @note.source_url %></p>
    <p> <strong>Tags :</strong>   <%= @note.tags.join(",") %>    </p>
      <p> <strong>Created and Updated on :</strong> <%= @note.created_at.strftime("%d-%m-%Y") %>   &   <%= @note.updated_at.strftime("%d-%m-%Y") %>  </p>
</pre>
<div class="btn-group">
<%= link_to   "Edit", edit_note_path(@note), :class => "btn" %> 
<%= link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete, :class => "btn"  %>
        </div>
