<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%#= stylesheet_link_tag "application" %>
    <%#= stylesheet_link_tag "jquery.mobile.structure-1.", "jquery.mobile-1.0" %>
    <%#= javascript_include_tag :defaults %>
    <%#= javascript_include_tag "jquery.mobile-1.0.min" %>
    <%#= javascript_include_tag "underscore", "backbone"  %>
    <%#= javascript_include_tag 'routes', "notes/note","notes/index" %>
    <%= include_stylesheets :common, :media => 'all' %>
		<%= include_javascripts :common %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
