<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= include_stylesheets :common, :twitter_bootstrap, :media => 'all' %>
	
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body style="background-color: white;background:url(/images/body_back.jpg)	">
    <div id="container" style="background: #F0F0F0 url(/images/grey_bg.jpg);border-radius: 15px;border-color: white;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
