<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Note Factory" %></title>
    
    <%= include_stylesheets :common, :twitter_bootstrap, :media => 'all' %>
	<%= include_javascripts :common, :twitter_bootstrap %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <!--<body style="background-color: white;background:url(/images/body_back.jpg)	"> -->
    <body style="background-color: white;background:url(/images/note_body_bg.jpg)	"> 
  
  <div class="topbar"> 
      <div class="fill"> 
        <div class="container"> 
            <ul class ="nav" style="float:right;"> 
             
              <% if user_signed_in? %>
               <li>
    		<a href="#" >Signed in as <%= current_user.email %>. Not you? </a>
     </li>
     <li>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </li>
  <% else %>
  <li>
    <%= link_to "Sign up", new_user_registration_path  if params[:controller] != "devise/registrations"%> 
    </li>
    <li>
    <%= link_to "Sign in", new_user_session_path if params[:controller] != "devise/sessions"%>
    </li>
  <% end %>
            </ul> 
        </div> 
      </div> 
    </div> 
  <div id="user_nav">
</div>
  
    <div id="container" style="background: #F0F0F0 url(/images/grey_bg.jpg);border-radius: 15px;border-color: white;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
<!-- User Voice-->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/R8dbMDbnSfV90tXIUh1nA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>


  </body>
</html>
